.comment-wrapper {
  padding: 20px;
  background-color: antiquewhite;
  box-shadow: 4px 4px 6px;
}

.comments-lists {
  padding: 20px;
}

.comments-list {
  height: 30px;
  line-height: 30px;
}

.text {
  width: 95%;
  border: 1px solid #333;
  height: 100px;
  margin: 10px 0 0 20px;
  padding: 10px;
}

.submit-btn {
  margin: 0 20px 20px 0;
  text-align: right;
}

.hidden {
  display: none;
}