<%= render 'shared/header' %>

<div class="main">
  <div class="container">
    <div class="form-wrapper">
      <h2 class="page-heading">編集</h2>
      <%= render partial: 'form', locals: {post: @post} %>
    </div>
  </div>
</div>