<%= render 'shared/header' %>

<div class="main">
  <div class="container">
    <div class="left-container">
      <div class="post-wrapper">
        <% @results.each do |post| %>
          <%= render partial: "post", locals: {post: post} %>
        <% end %>
      </div>
    </div>
    <div class="right-container">
      <%= render 'searching' %>
      <%= render 'tag_list' %>
    </div>
  </div>
</div>