<div class="main">
  <div class="container">
    <div class="left-container">
      <div class="post-wrapper">
        <%= render partial: 'post', collection: @posts %>
      </div>
    </div>
    <div class="right-container">
      <div class="tag-list">
        <h3>タグリスト</h3>
        <div class="tags">
          <% @tag_list.each do |list| %>
            <span class="tag">
              <%= link_to list.tag_name, tag_posts_path(list.id) %>
            </span>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>