footer {
  background-color: #000;
  color: #eee;
  width: 100vw;
  height: 70px;
}

.copyrights {
  text-align: center;
  line-height: 70px;
  font-size: 15px;
}

/* タブレット表示 */
@media (max-width: 1024px) {
  footer {
    background-color: #000;
    color: #eee;
    width: 100vw;
    height: 70px;
  }
}