.header {
  background-color: #000;
}

.inner {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px 0 20px;
}

.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-left {
  border: 2px solid #fff;
  transition: 0.3s;
}

.nav-left:hover {
  opacity: 0.7;
}

.nav-left a {
  display: block;
}

.logo-img {
  width: 150px;
  height: 60px;
}

.nav-right {
}

.nav-btn {
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #87CEFA;
  text-decoration: none;
  user-select: none;
  border: 1px #87CEFA solid;
  border-radius: 3px;
  transition: 0.4s ease;
}

.nav-btn:hover {
  color: #fff;
  background: #87CEFA;
}

.nav-logout {
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #87CEFA;
  text-decoration: none;
  user-select: none;
}

.nav-logout:hover {
  opacity: 0.5;
}

.current-user-name {
  display: inline-block;
  color: #87CEFA;
}