.main {
  background-color: #eee;
  height: 100%;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 10px;
  display: flex;
}

.left-container {
  width: 900px;
  padding: 10px;
}

.post {
  padding: 10px;
  background-color: #ededed;
  box-shadow: 4px 4px 6px;
  transition: all 0.3s;
}

.post:not(:last-of-type) {
  margin-bottom: 40px;
}

.post-img {
  width: 850px;
  height: 400px;
  margin-bottom: 20px;
}

.post-show-tags {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #333;
}

.post-title {
  font-size: 30px;
  margin-bottom: 20px;
}

.icon-box {
  display: flex;
  padding: 10px 10px 10px 0;
  margin-bottom: 20px;
}

.icon-pic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 20px;
}

.icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 20px;
  background-color: royalblue;
}

.user-name {
  font-size: 20px;
  line-height: 50px;
  position: relative;
  transition: all 0.3s;
}

.user-name::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background: #87CEFA;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: transform 0.3s;
}

.user-name:hover::after {
  transform: scale(1, 1);
}

.user-name:hover {
  color: #87CEFA;
}

.overview-title {
  font-size: 20px;
  margin-bottom: 20px;
}

.post-overview {
  height: 100px;
  overflow: scroll;
  margin-bottom: 20px;
}