.right-container {
  width: 300px;
  padding: 10px;
}

/* タブレット表示 */
@media (max-width: 1024px) {
  .right-container {
    width: 748px;
    padding: 10px;
  }
}

/* スマートフォン表示 */
@media (max-width: 570px) {
  .right-container {
    width: 300px;
    padding: 10px;
  }
}